@use 'styles/main' as *;

:host {
  padding: spacing(xl);
  gap: spacing(xl);

  @include flex-col;
  @include page-md;
}

table {
  width: 100%;
  table-layout: fixed;
}

th:nth-of-type(2) {
  width: 250px;
}

td:nth-of-type(2) {
  @include text-condensed;
}

td:nth-of-type(1) {
  @include font-bold;
}

td:not(:nth-of-type(2)) {
  text-align: center;
  vertical-align: middle;
}

td,
th {
  padding: spacing(lg) spacing(xl);
}

tr {
  border-bottom: 1.6px solid black;
}

.pagination {
  display: flex;
  gap: spacing(sm);
  justify-content: center;

  button {
    padding: unset;
    width: 1.2lh;
    aspect-ratio: 1;

    @include flex-center;
  }
}
