@if (cartItems().length > 0) {
  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Count</th>
        <th>Price</th>
        <th>Total Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (idx of visibleIndexes(); track idx) {
        @let cartItem = cartItems()[idx];

        <tr>
          <td>{{ cartItem.id }}</td>
          <td>{{ cartItem.title }}</td>
          <td>{{ cartItem.count }}</td>
          <td>{{ cartItem.price | currency: 'USD' : 'symbol' : '2.2-2' }}</td>
          <td>
            {{ cartItem.price * cartItem.count | currency: 'USD' : 'symbol' : '2.2-2' }}
          </td>
          <td>
            <button class="btn btn-danger btn-sm" type="button" (click)="removeItem(idx)">
              <fa-icon [icon]="['fas', 'x']" />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @if (pageCount() > 1) {
    <section class="pagination">
      @for (idx of createIndexes(0, pageCount()); track idx) {
        @let pageNum = idx + 1;

        <button
          class="btn btn-info"
          type="button"
          [ngClass]="{ active: page() === pageNum }"
          (click)="changePage(pageNum)"
        >
          {{ pageNum }}
        </button>
      }
    </section>
  }
} @else {
  <div class="font-semi-bold font-size-lg">No cart items yet.</div>
}
