@use 'styles/main' as *;
@use 'sass:color';

:host {
  position: absolute;
  width: 100%;

  @include font-size-sm;
}

.applied-filters {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(md);
}

.applied-filters__item {
  font-weight: normal;
  display: flex;
  gap: spacing(md);
  align-items: center;
  flex-shrink: 0;
  background-color: color.change(color(neutral), $alpha: 0.85);
  backdrop-filter: blur(3px);
}

.applied-filters__pipe {
  height: 100%;
  width: 1px;
  background-color: currentColor;
}

.applied-filters__item-close {
  font-size: 0.8em;

  @include rounded-sm;
}
